@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');

body{
    background-color:#ffffff;
    margin: 0;
    font-family: 'Poppins';
    color:#404040;
}

/* TELA DE LOGIN - INICIAR */
.div_login{
    text-align: center;
    margin-top: 7em;
}
.div_registro{
    text-align: center;
    margin-top: 4em;
}

.link{
    margin-top: 3em;
}

.input_login{
    background: none;
    border: none;
    border-bottom: solid 0.1em #c4c4c4;
    padding: 0.3em;
    width: 10em;
    font-size: 1.2em;
    margin-bottom: 1em;
    font-family: 'Poppins';
}
/* TELA DE METAS */
.div_top{
    display: block;
    padding-left: 2em;
    padding-top: 3em;
    position: fixed;
    background-color: white;
    z-index: 1000;
    width: -webkit-fill-available;
    text-align: center;
}
.margin_0{
    margin: 0;
}
#title_h1{
    font-size: 2.4em;
    margin-left: 2em;
}
#subtitle_p{
    font-size: 0.9em;
    margin-top: -0.8em;
}
.title{
    margin-left: -9em;
}
.btn_add{
    display: -webkit-inline-box;
    margin-left: 11em;
    margin-top: -1em;
}
ul{
    list-style: none;
    padding: 2em;
}
li{
    background-color: #42aafd;
    color: white;
    border-radius: 0.4em;
    padding: 1em;
    width: 14em;
    margin-bottom: 0.6em;
}
a{
    text-decoration: none;
}
.div_meta{
    display: -webkit-box;
}
.btns_div_meta{
    text-align: center;
    writing-mode: vertical-lr;
    position: absolute;
    margin-left: 13em;
    display: flex;
    margin-top: -0.4em;
}
.margin_bottom_meta{
    margin-bottom: 1.7em;
}
.div_ul{
    padding-top: 6em;
}
.btn_voltar{
    z-index: 5000;
    position: fixed;
    margin-top: 1em;
    margin-left: 1.5em;
}
.corpo_div{
    text-align: -webkit-center;
}
.display_flex{
    display: flex;
    text-align: initial;
}
.width{
    width: 206px;
}
/* TELA ADICIONAR METAS */
.input{
    background: none;
    border: none;
    border-bottom: solid 0.1em #c4c4c4;
    padding: 0.3em;
    width: 10em;
    font-size: 1.3em;
    margin-bottom: 1em;
    font-family: 'Poppins';
    font-weight: 600;
}
.meta_add{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.meta_post_add{
    padding-top: 7em;
}
.btn_submit{
    padding: 0.7em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: 0.5em;
    border: none;
    background-color: #ee2274;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.9em;
}
.textarea{
    width:12em;
    border-bottom: none;
    font-size:1.1em;
    font-family: 'Poppins';
    font-weight: 100;
    resize: none;
}
.textarea:focus,input:focus{
    outline:none;
}
.alerta_erro{
    color: red;
    font-size: 0.9em;
    font-weight: 600;
}