{% extends 'base.html' %}

{% block content %}
    <div>
        
        <div class="btn_voltar">
            <a href="/metas">
                <svg width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18L9 12L15 6" stroke="#404040" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>   
            </a>  
        </div>

        <div class="div_top padd">
            <form action="" class="form_config" method='POST'>
                <h1 class="ta_left margin_0">Olá, {{nome}}</h1>
                <p class="ta_left margin_0">Edite seus dados</p><br>
                <input type="text" class="input novodado" name="novoNome" value="{{dados.nome}}" placeholder="Atualize seu Nome">
                
                <input type="text" class="input novodado" name="novoEmail" value="{{dados.email}}" placeholder="Atualize seu Email">
                
                <input type="password" class="input novodado" name="novaSenha" minlength ='8' placeholder="Adicione uma nova senha">


                <input type="password" class="input novodado" name="confirmarnovaSenha" minlength ='8' placeholder="Confirme a nova senha" id="">
                
                <div>
                    <p class="alerta_erro">{{alerta_erro}}</p>
                </div>

                <input type="submit" class="btn_submit" value="Salvar">
            </form>
        </div>

        
    </div>    
{% endblock %}