{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="div_registro">
            <h1>Crie sua Conta</h1>
            <form class="form_registrar_user" action="" method="POST">
                <input type="text" name="nome" class="input_login" placeholder="Nome">
                <input type="text" name="email" class="input_login" minlength="6" placeholder="Email">
                <input type="password" name="senha" class="input_login" minlength="8" placeholder="Senha">
                <input type="password" name="confirmar_senha" class="input_login" minlength="8" placeholder="Confirmar Senha">    
                <div>
                    <p class="alerta_erro">{{alerta_erro}}</p> 
                </div>
                <input class="btn_submit" type="submit" value="Criar Conta">
            </form>

            <div class="link">
                <a href="/login">Fazer Login</a>
            </div>
        </div>
    </div>
{% endblock %}